/* MCMAKLER  Icon Font */
  @font-face {
    font-family: 'MCMAKLER';
    src:  url('../fonts/icons/MCMAKLER.eot?mmfg65');
    src:  url('../fonts/icons/MCMAKLER.eot?mmfg65#iefix') format('embedded-opentype'),
      url('../fonts/icons/MCMAKLER.ttf?mmfg65') format('truetype'),
      url('../fonts/icons/MCMAKLER.woff?mmfg65') format('woff'),
      url('../fonts/icons/MCMAKLER.svg?mmfg65#MCMAKLER') format('svg');
    font-weight: normal;
    font-style: normal;
  }