<div class="row mt-4" [@listAnimation]="currentAdvertisements && currentAdvertisements.length || 0">
    <adv-list-item 
        class="col-md-4"
        *ngFor="let advertisement of currentAdvertisements" 
        [advertisement]="advertisement">
    </adv-list-item>
    <div (click)="loadMoreTen()" *ngIf="currentAdvertisements && currentAdvertisements.length>0" class="load-more card mb-4 box-shadow">
        <h4 >
            {{ "adv.list.load-more" |  translate}}    
        </h4>
    </div>
</div>
<div *ngIf="!currentAdvertisements" class="loading">
    <span class="picon picon-loading global-spinner"></span>
</div>