@import "global/functions";

.ads-list {
    .address {
        color: #aaa;
    }
    figure {
        position: relative;
        img {
            height: toRem(225);
            width: 100%;
            display: block;
        }
        figcaption {
            position: absolute;
            top: 0px;
        }
    }
    .property {
        &-card__label {
            cursor: pointer;
            background-color: #fff;
            border: solid toRem(1) #dadada;
            border-radius: toRem(2);
            color: #aaa;
            display: inline-block;
            font-size: toRem(13);
            font-weight: 500;
            padding: toRem(3) toRem(8);
            margin: toRem(20);
        }
    }
}